body {
      background-color: white;
      /*min-width: 1024px;*/
      max-width:1440px;
      margin:0px auto;
    }

.reservia{
    background-color: white;
    /*width:1440px;*/
    height:79px;
    display: flex;
}

.logo{
    background-color: white;
    width: 161.09px;
    height:79px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.menu{
    background-color: white;
    /*width:344px;*/
    width:100%;
    height:35px;
    /*position:relative;
   top:-79px;
    right:-1096px;*/
    display:flex;
    flex-direction: row;
    justify-content: flex-end;

    color: black;
}

#booki{
    width:62px;
    height:19px;
}

.btn-hebergements{
    /*background-color: #F2F2F2;*/
    background-color: white;
    border: none;

    padding-right: 15px;
    color: black;

    font-family: raleway;
    font-size: 16px;
    font-weight: 400;
}

.btn-activites{
    /*background-color: #F2F2F2;*/
    background-color: white;
    border: none;

    padding-left: 15px;
    color: black;

    font-family: raleway;
    font-size: 16px;
    font-weight: 400;
}

.btn-activites a{
    color: black;
}

.btn-activites a:hover{
    color: #0065FC;
}

.btn-activites:hover{
    border-top-color: #0065FC;
}

.btn-hebergements:hover{
    border-top-color: #0065FC;
}

.btn-hebergements a{
    color: black;
}

.btn-hebergements a:hover{
    color: #0065FC;
}

#p1{
    font-weight: 700;
    font-size: 22px;
    font-family: raleway;
}

#p4{
    font-family: raleway;
    font-size: 16px;
    font-weight: 400;
}

.search-bar{
    /*background-color: yellow;*/
    width: 377px;
    height: 49px;
    border-radius: 15px;
    border: 1px;
    
    display:flex;
    align-items: baseline;
}

.group15{
    background-color: #F2F2F2;
    width: 15%;
    /*width: 50px;*/
    height: 49px;
    bottom: 16px;
    position: relative;

    border-radius: 15px 0px 0px 15px;
}

#s1{
    position:relative;
    top:30%;
    left:40%;
}

.search{
    background-color: white;
    color: #0065FC;
    /*width: 147px;
    width:60%;*/
    width: 171px;
    height: 44px;

    text-align: center;

    border: none;
}

.search::placeholder{
    color:black;
    font-family: raleway;
    font-weight: 700;
    font-size: 18px;
}

.submit{
    background-color: #0065FC;
    /*width: 132px;
    width: 35%;*/
    width: 156px;
    height: 49px;

    /*padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    padding-right: 16px;*/
    padding: 15px 16px 15px 16px;

    border-radius: 0px 15px 15px 0px;

    color:white;

    border-color: #0065FC;

    font-family: raleway;
    font-weight: 700;
    font-size: 18px;
}

.filter-bar{
    /*background-color: cyan;*/
    Width:758px;
    Height:50px;
    Gap:15px;

    display:flex;
    /*align-items: baseline;*/
}

.filter-0{
    /*background-color: darkkhaki;*/
    width:50px;
    height:50px;
    display:flex;
    justify-content: center;
}

#p2{
    font-weight: 700;
    font-size: 18px;
    font-family: raleway;
}
#filtres{
    display: flex;
    width: 704px;
    height: 50px;

    justify-content: space-between;
}

.menu-2{
    display: flex;
    width: 704px;
    height: 50px;

    /*justify-content: space-between;*/
    margin-top: 0.5em;

    padding-bottom: -0.3em;
}

.menu-2 li{
    list-style-type: none;
}

.menu-2 a{
    display: block;
    text-align: center;
    /*margin-right: 1em;*/

    border:1px solid red;
    padding-top: 0.5em;
    padding-bottom: -0.3em;
}

/*.filter-1{
    /*background-color: maroon;
    background-color: white;
    width:173px;
    height:50px;
    border-radius: 1000px;

    border-color: #D9D9D9;
}*/

.icon1{
    /*background-color: maroon;*/
    background-color: white;
    /*width:100%;
    height:100%;*/
    width:173px;
    height:50px;
    border-radius: 1000px;

    /*border-color: #D9D9D9;*/

    margin-right: 2em;
}

.favorite-styled-1{
    /*background-color: maroon;*/
    background-color: white;
    width:100%;
    height:100%;
    border-radius: 1000px;

    font-weight: 700;
    font-size: 17px;
    font-family: raleway;

    /*border-color: #D9D9D9;*/
}

#f1{
    color: #0065FC;
}

/*.filter-2{
    /*background-color: dimgray;
    background-color: white;
    width:134px;
    height:50px;
    border-radius: 1000px;

    border-color: #D9D9D9;
}*/

.favorite-styled-2{
    /*background-color: dimgray;*/
    background-color: white;
    /*width:100%;
    height:100%;*/
    width:134px;
    height:50px;
    border-radius: 1000px;

    font-weight: 700;
    font-size: 17px;
    font-family: raleway;
    
    border-color: #D9D9D9;
}

#f2{
    color: #0065FC;
}

.icon2{
    /*background-color: dimgray;*/
    background-color: white;
    width:100%;
    height:100%;
    border-radius: 1000px;

    border-color: #D9D9D9;

    margin-right: 2em;
}

/*.filter-3{
    /*background-color:orange;
    background-color: white;
    width:170px;
    height:50px;
    border-radius: 1000px;

    border-color: #D9D9D9;
}*/

.favorite-styled-3{
    /*background-color:orange;*/
    background-color: white;
    width:100%;
    height:100%;
    border-radius: 1000px;

    font-weight: 700;
    font-size: 17px;
    font-family: raleway;

    border-color: #D9D9D9;
}

.icon3{
    /*background-color:orange;*/
    background-color: white;
    /*width:100%;
    height:100%;*/
    width:170px;
    height:50px;
    border-radius: 1000px;

    border-color: #D9D9D9;

    margin-right: 2em;
}

#f3{
    color: #0065FC;
}

/*.filter-4{
    /*background-color: yellow;
    background-color: white;
    width:153px;
    height:50px;
    border-radius: 1000px;

    border-color: #D9D9D9;
}*/

.favorite-styled-4{
    /*background-color: yellow;*/
    background-color: white;
    /*width:100%;
    height:100%;*/
    width:167px;
    height:50px;
    border-radius: 1000px;

    font-weight: 700;
    font-size: 17px;
    font-family: raleway;

    border-color: #D9D9D9;
}

.icon4{
    /*background-color: yellow;*/
    background-color: white;
    width:100%;
    height:100%;
    border-radius: 1000px;

    border-color: #D9D9D9;
}

#f4{
    color: #0065FC;
}

.infobar{
    /*justify-items: flex-start;*/
    display:flex;
    /*justify-content: space-between;*/
}

.icon5{
    background-color: white;
    width: 25px;
    height: 25px;
    align-items: center;
    border-radius: 125% 120%;
    margin-right: 0.5em;

    position:relative;
    margin-top: 0.7em;
    left: 0.8%;

    border-color: #D9D9D9;
    border: 1px;
}

#s2{
    position:relative;
    top:10%;
    left:40%;

    font-size: small;
    color: #0065FC;

    border-color: #D9D9D9;
}

.text1{
    /*background-color: cadetblue;*/
    margin-left: 0.5em;

    font-family: raleway;
    font-size: 16px;
    font-weight: 400;
}

.hebergements-and-populaires{
    /*background-color: rgb(63, 20, 220);*/
    width: 100%;
    height: 800px;
    /*justify-content: space-between;*/
    display:flex;
}

.hebergements{
    background-color: #F2F2F2;
    width:70%;
    height:800px;
    margin-right: 1em;

    border-radius: 15px;
    padding-right: 30px;
    padding-left: 30px;
}

.populaires{
    background-color: #F2F2F2;
    width: 30%;
    height: 800px;
    margin-left: 1em;

    border-radius: 15px;
}

.hebergements-cards{
    background-color: #F2F2F2;
    width: 100%;
    height:91.5%;

    /*justify-content: space-between;
    display:flex;*/

}

.section-title{
    /*margin-left: 1em;*/
    padding-left: 5px;

    font-family: raleway;
    font-weight: 700;
    font-size: 22px;
}

.hebergements-cards-1{
    background-color: #F2F2F2;
    width: 100%;
    height:45.75%;

    justify-content: space-between;
    display:flex;
}

.hebergements-cards-2{
    background-color: #F2F2F2;
    width: 100%;
    height:45.75%;

    justify-content: space-between;
    display:flex;
}

.card1{
    background-color: #FFFFFF;
    width: 30%;
    height:90%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.hebergements-cards .card{
    background-color: #FFFFFF;
    width: 30%;
    height: 90%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.hebergements-cards .card-content{
    background-color: white;
    width: 100%;
    height:100%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.hebergements-cards .card-img{
    /*background-color: red;*/
    width: 100%;
    height:55%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    margin-bottom: -1em;
}

.card-img img{
    width: 98%;
    height: 99%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    margin-left: 0.2em;
    margin-top: 0.2em;
    margin-bottom: 1em;
}

.hebergements-cards .card-txt{
    /*background-color: rgb(0, 255, 13);*/
    width: 100%;
    height:30%;

    margin-top: 2.1em;
    margin-bottom: -1em;
    margin-left: 1em;
}

.hebergements-cards .card-rating{
    /*background-color: violet;*/
    width: 100%;
    height:15%;

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 1em;

    color: #0065FC
}

#no-star{
    color:#F2F2F2;
}

.affiche0{
    background-color: #F2F2F2;
    height: 6%;
    border: none;
}

.affiche{
    background-color: #F2F2F2;
    width: 20%;
    height: 100%;

    border: none;

    font-family: raleway;
    font-size: 18px;
    font-weight: 700;
}

.texte1{
    width: 100%;
    height: 100%;

    font-family: raleway;
    font-weight: 700;
    font-size: 18px;

    background-color: #F2F2F2;
}

.populaires-title{
    /*background-color: olive;*/
    background-color: #F2F2F2;
    width:100%;
    height: 8%;
    display: flex;
    justify-content: space-between;

    border-radius: 15px;
}

.section-title-2{
    padding-left: 15px;

    font-family: raleway;
    font-weight: 700;
    font-size: 22px;
}
#I2{
    color: #0065FC;
    margin-top: 1.5em;
    margin-right: 0.5em;
}

.populaires-cards{
    /*background-color: indigo;*/
    background-color: #F2F2F2;
    width: 100%;
    height: 91%;

    /*margin-left: 1em;*/
    margin-right: 1em;
    margin-top: 0.5em;
    
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/

    border-radius: 15px;
}

.populaires-cards .card{
    /*background-color: cyan;*/
    background-color: #FFFFFF;
    width: 90%;
    height: 25%;
    /*height: 100%;*/

    display: flex;
    margin-bottom: 1em;
    margin-left: 1em;

    /*border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;*/
    border-radius: 20px;

    overflow: hidden;
}

.populaires-cards .card img{
    width: 40%;
    height: 100%;

    object-fit: cover;
}

.populaires-cards .card-content{
    /*background-color: gold;*/
    width: 60%;
    height: 100%;

    margin-left: 0.8em;
}

.populaires-cards .card-txt{
    /*background-color: lightslategrey;*/
    width: 100%;
    height: 80%;

    color: black;
}

.card-title{
    font-family: raleway;
    font-weight: 700;
    font-size: 16px;
}

.card-subtitle{
    font-family: raleway;
    font-weight: 400;
    font-size: 14px;
}

.populaires-cards .card-rating{
    /*background-color: tomato;*/
    width: 100%;
    height: 20%;

    color: #0065FC;
}

.activites{
    background-color: yellow;
    width: 100%;
    height: 800px;

    font-family: raleway;
    font-weight: 700;
    font-size: 16px;
}

.activites .frame14{
    background-color: blue;
    width: 95.52%;
    height: 78,53%;
}